.headParraph {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    margin: 0;
}

img {
    width: 20%;
    height: auto;
}