<div class="container">
    <div class="row mx-5 py-5 d-flex justify-content-center">
        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/newuser.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Registrar Cliente</h2>
        </div>

        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/newrecibo.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Nuevo Recibo</h2>
        </div>

        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/buscar.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Buscar Recibo</h2>
        </div>

        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/historial.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Historial Pagos</h2>
        </div>

        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/proxpago.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Proximos Pagos</h2>
        </div>

        <div class="col-sm-2 py-4">
            <a href="#"><img src="assets/reports.png" class="img-fluid" alt="Responsive image" width="256" height="256"></a>
            <h2 class="d-flex justify-content-center fw-bolder textColor">Reportes</h2>
        </div>
    </div>
</div>